* {
    font-family: sans-serif;
  }
  
  .parent {
    position: relative;
    background-color: #d2d2d2;
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 500px;
  }
  
  .note {
      position: absolute;
    padding: 10px;
    width: 200px;
    opacity: 0.9;
  }
  
  #headline {
      position: relative;
     top: 0px;
     right: 10px;
      
  }
  
  .task1 {
    background-color: orange;
    top: 100px;
    left: 50px;
    transition: width 1s ease,height 3s ease;
  }
  
  .task2 {
    background-color: greenyellow;
    top: 220px;
    left: 150px;
    transition: width 1s ease,height 3s ease;
  }
  
  .task3 {
    background-color: royalblue;
    color: white;
    top: 360px;
    left: 80px;
    transition: width 1s ease,height 3s ease;
  }
  
  .task1:hover{
    width: 600px;
    height: 600px;
  }
  .task2:hover{
    width: 600px;
    height: 600px;
  }
  .task3:hover{
    width: 600px;
    height: 600px;
  }